<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Regras</h5>
        <h4 class="card-title"> Configurações de leitura</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nome
              </th>
              <th>
                Valor
              </th>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
