<%- contentFor('body') %>
<div id="like_button_container"></div>
<div class="row">

    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

  
</div>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="/js/iot_c/like_button.js"></script>
<script>
let chartColor = "#FFFFFF";

// General configuration for the charts with Line gradientStroke

const chartConfiguration = {
  maintainAspectRatio: false,
  legend: {
    display: false
  },
  tooltips: {
    bodySpacing: 4,
    mode: "nearest",
    intersect: 0,
    position: "nearest",
    xPadding: 10,
    yPadding: 10,
    caretPadding: 10
  },
  responsive: true,
  scales: {
    yAxes: [{
      gridLines: 0,
      gridLines: {
        zeroLineColor: "transparent",
        drawBorder: false
      }
    }],
    xAxes: [{
      display: 0,
      gridLines: 0,
      ticks: {
        display: false
      },
      gridLines: {
        zeroLineColor: "transparent",
        drawTicks: false,
        display: false,
        drawBorder: false
      }
    }]
  },
  layout: {
    padding: {
      left: 0,
      right: 0,
      top: 15,
      bottom: 15
    }
  }
};

var cardStatsMiniLineColor = "#fff",
  cardStatsMiniDotColor = "#fff";

// Umidade do solo
let ctx = document.getElementById('barChartSimpleGradientsNumbers').getContext("2d");

gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
gradientStroke.addColorStop(0, '#18ce0f');
gradientStroke.addColorStop(1, chartColor);

gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
gradientFill.addColorStop(0, "rgba(24, 206, 15, 0)");
gradientFill.addColorStop(1, hexToRGB('#18ce0f', 0.4));

let graficoUmidadeSolo = new Chart(ctx, {
  type: 'line',
  responsive: true,
  data: {
    labels: [0, ],
    datasets: [{
      label: "Umidade (%)",
      borderColor: "#18ce0f",
      pointBorderColor: "#FFF",
      pointBackgroundColor: "#18ce0f",
      pointBorderWidth: 2,
      pointHoverRadius: 4,
      pointHoverBorderWidth: 1,
      pointRadius: 4,
      fill: true,
      backgroundColor: gradientFill,
      borderWidth: 2,
      data: [0, ]
    }]
  },
  options: chartConfiguration
});

// Umidade do ar
ctx = document.getElementById('lineChartExampleWithNumbersAndGrid').getContext("2d");

gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
gradientStroke.addColorStop(0, '#2CA8FF');
gradientStroke.addColorStop(1, chartColor);

gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
gradientFill.addColorStop(1, hexToRGB('#2CA8FF', 0.4));

let graficoUmidadeAr = new Chart(ctx, {
  type: 'line',
  responsive: true,
  data: {
    labels: [0,],
    datasets: [{
      label: "Umidade (%)",
      borderColor: "#2CA8FF",
      pointBorderColor: "#FFF",
      pointBackgroundColor: "#2CA8FF",
      pointBorderWidth: 2,
      pointHoverRadius: 4,
      pointHoverBorderWidth: 1,
      pointRadius: 4,
      fill: true,
      backgroundColor: gradientFill,
      borderWidth: 2,
      data: [0,]
    }]
  },
  options: chartConfiguration
});

// Temperatura do ar
ctx = document.getElementById('lineChartExample').getContext("2d");

gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
gradientStroke.addColorStop(0, '#f96332');
gradientStroke.addColorStop(1, chartColor);

gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
gradientFill.addColorStop(1, hexToRGB('#f96332', 0.4));

// Temperatura do ar
let graficoTemperaturaAr = new Chart(ctx, {
  type: 'line',
  responsive: true,
  data: {
    labels: [0,],
    datasets: [{
      label: "Temperatura ",
      borderColor: "#f96332",
      pointBorderColor: "#FFF",
      pointBackgroundColor: "#f96332",
      pointBorderWidth: 2,
      pointHoverRadius: 4,
      pointHoverBorderWidth: 1,
      pointRadius: 4,
      fill: true,
      backgroundColor: gradientFill,
      borderWidth: 2,
      data: [0,]
    }]
  },
  options: chartConfiguration
});


function addData(chart, label, data) {
  chart.data.labels.push(label);
  if(chart.data.labels.length >= 9) { chart.data.labels.shift(); }
  chart.data.datasets.forEach((dataset) => {
    dataset.data.push(data);
    if(dataset.data.length >= 9) { dataset.data.shift(); }
  });
  chart.update();
}
</script>